#preloader {
 position: fixed;
 left: 0;
 top: 0;
 z-index: 99999;
 width: 100%;
 height: 100%;
 overflow: visible;
 background: #ffffff url("loader/squares.gif") no-repeat center center;
}

body {
  font-family: 'Arima Madurai', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

strong {
  font-weight: bold;
}

@media screen and (min-width: 720px) {
  .brand-logo {
    margin-left: 10px;
  }
}

main {
  margin-top: 50px;
  flex: 1 0 auto;
}

.day-tab {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.download-syllabus {
  margin-bottom: 40px;
}

.syllabus-container .collapsible-header {
  text-transform: uppercase;
}

.userView img {
  padding: 20px 0px;
  padding-left: 5%;
  width: 80%;
  height: auto;
  margin-left: auto;
}

.side-nav li a {
  color: #666;
  font-family: sans-serif;
}

.side-nav .active a, .side-nav .active a .material-icons {
  color: teal;
}

.underline {
  text-decoration: underline;
}

.timetable-container {
  margin-top: 40px;
}

.page-footer {
  position:relative;
  padding: 0;
  bottom:0;
}

.footer-icons {
  font-size: 0.5em;
  -ms-transform: translate(0, 50%); /* IE 9 */
  -webkit-transform: translate(0, 50%); /* Safari */
  transform: translate(0, 30%);
}

.home-icons .material-icons{
  text-align: center;
  font-size:150px;
  color:teal;
}

.home-icons .material-icons:hover{
  transform:scale(1.2);
  transition-duration: 1s;
}
.home-icons .material-icons:not(:hover){
  transform:scale(1);
  transition-duration: 1s;
}
#info{
  font-size:20px;
  color:teal;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.96);
  z-index: 2;
  cursor: pointer;
}

.content{
  color:teal;
  text-align: center;
}
.notes_content{
  color:teal;
  font-weight:bold;
  font-size:20px;
  text-align:center;
  text-align: center;
  margin-left:35%;
}

#notes:hover{
  transform:scale(1.1);
  transition-duration: 1s;
}
#notes:not(:hover){
  transform:scale(1);
  transition-duration: 1s;
}
